/*
 *
 *  accelerator-redux/
 *  Declan Tyson
 *  v0.0.3
 *  13/12/2016
 *
 */

.products {
	padding-top: 100px;
	max-width: 1200px;
	margin: 0 auto;
	.product {
		float: left;
		width: 33%;
		text-align: center;
		padding-bottom: 40px;
		&:nth-of-type(3n + 1) {
			clear: both;
		}
	}
}